{% extends 'petmon/Base.html' %}

{% block content %}
    {% if not owner.id == log_user.id %}
        <h3>{{ owner.username }}' Pets</h3>
    {% else %}
        <h3>My Pets</h3>
        <a href="{% url 'petmon:pet' 'choose' %}">Add Pet</a>
    {% endif %}

    {% if pet %}
        <p>Name: {{ pet.name }}</p>
        <p>Kind: {{ pet.kind }}</p>
        <p>HP: {{ pet.hp }}</p>
        <p>Attack: {{ pet.attack }}</p>
        <p>Defence: {{ pet.defence }}</p>
        <p>Speed: {{ pet.speed }}</p>
        <p>Satiation: {{ pet.satiation }}</p>
        <p>Lush: {{ pet.lush }}</p>
    {% endif %}

    <br>

    <div id="items-to-feed">
        <h3>Items to feed</h3>
        {% if feed %}
        <ul>
            {% for itemname, count in feed.items %}
                <li>Name: {{ itemname }}</li>
                <p>Count: {{ count }}</p>
            {% endfor %}
        </ul>

        <form action="{% url 'petmon:pet' 'clean_feed' %}" method="post">
            {% csrf_token %}
            <button type="submit">Clean Feed Items</button>
        </form>

        <form action="{% url 'petmon:pet' 'feed' %}" method="post">
            {% csrf_token %}
            <button type="submit">Feed</button>
        </form>
    {% else %}
        <p>No items to feed.</p>
    {% endif %}
    </div>

    <h3>My items</h3>

    {% if object_list %}
        <ul>
            {% for item in object_list %}
                <form action="{% url 'petmon:pet' 'add_feed' %}" method="get">
                    <input type="hidden" name="id" value="{{ item.id }}"/>
                    <li>Name: {{ item.commodity.name }}</li>
                    <p>Count: {{ item.count }}</p>
                    <label>Amount: <input type="text" name="count"></label>
                    <button type="submit">Add to feed</button>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        Empty repo.
    {% endif %}
{% endblock %}