{% extends 'petmon/Base.html' %}

<div id="content-main">
    {% block content %}
        <form action="{% url 'petmon:user_control' 'signup' %}" method="post">
            {% csrf_token %}
            User name: <input type="text" name="username"/><br>
            First name: <input type="text" name="firstname"/><br>
            Last name: <input type="text" name="lastname"/><br>
            Password: <input type="password" name="password"/><br>
            Confirm Password: <input type="password" name="password_confirm"/><br>
            Email: <input type="email" name="email"/><br>

            <input type="submit" name="Submit"/>
        </form>
    {% endblock %}
</div>
