{% extends 'petmon/Base.html' %}

{% block content %}

    <h3>Shop Items</h3>
    {% if object_list %}
        <ul>
            {% for item in object_list %}
                <form id="shopForm" action="{% url 'petmon:shop_control' 'add_to_cart' %}" method="get">
                    <input type="hidden" name="id" value="{{ item.id }}"/>
                    <li>{{ item.name }}</li>
                    <p>Price: {{ item.price }}</p>
                    <p>Satiation: {{ item.satiation }} | Lush: {{ item.lush }}</p>
                    <p>HP: {{ item.hp }} | Attack: {{ item.attack }} | Defence: {{ item.defence }} | Speed: {{ item.speed }}</p>
                    <label>Amount: <input type="text" name="count"></label>
                    <button type="submit">Add to cart</button>
                </form>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>Shopping cart</h3>
    {% if cart %}
        <ul>
            {% for itemname, count in cart.items %}
                <li>Name: {{ itemname }}</li>
                <p>Count: {{ count }}</p>
            {% endfor %}
        </ul>

        <p>Total value: <strong>{{ amount }}</strong></p>

        <form action="{% url 'petmon:shop_control' 'clean_cart' %}" method="post">
            {% csrf_token %}
            <button type="submit">Clean Cart</button>
        </form>

        <form action="{% url 'petmon:shop_control' 'buy' %}" method="post">
            {% csrf_token %}
            <button type="submit">Buy</button>
        </form>
    {% else %}
        <p>Empty cart</p>
    {% endif %}

    {% if log_user %}
        <h3>My Repo</h3>
        {% if my_item %}
            <ul>
                {% for item in my_item %}
                    <li>Name: {{ item.commodity.name }}</li>
                    <p>Count: {{ item.count }}</p>
                {% endfor %}
            </ul>
        {% else %}
            Empty repo.
        {% endif %}
    {% endif %}

{% endblock %}