{% extends 'petmon/Base.html' %}

{% block content %}
    <form id="shopForm" action="{% url 'petmon:shop_control' 'buy' %}" method="post">
        {% csrf_token %}
        <ul>
            {% if object_list %}
                {% for item in object_list %}
                    <li>{{ item.name }}</li>
                    <p>Price: {{ item.price }}</p>
                    <label>Amount: <input type="text" name="{{ item.id }}"></label>
                {% endfor %}
            {% else %}
                <p>Store is empty.</p>
            {% endif %}
        </ul>
        <button type="submit">Buy</button>
    </form>
{% endblock %}